
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin: 15px;
}

.navbar-default .navbar-brand {
  font-weight:bold;
    color: black;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list li {
  text-align: center;
}
#nav-list span {

  text-align: center;
}
#nav-list a {
    margin: 5px 0px 10px 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 1.6em;
}
#nav-list>li:hover{
  background: #E7E7E7;
}

.menu-class{
  margin: 15px 0px 15px 0px;
  /* background-color: #E7E7E7; */
}
.menu-classt{
  background-color: #E7E7E7;
  padding: 10px;
}
.menu-classt a{
  text-decoration: underline;;
}
.heaer-class{
  font-weight: bold;
}
